///
/// Button Styles.
///

@require 'styles/reset'
@require "styles/util"


button-base()
  reset-space()
  reset-theme()
  reset-font()
  box bdbox
  dis ib
  ta cen
  va base
  cur ptr


button-space()
  pad 0.5rem 0.8rem  


button-theme(c = #333, bgc = #eee)
  cc c
  bg bgc


button-basic()
  button-base()
  button-space()
  button-theme()

  &:focus
    outline 0


/// Export

button-basic-export($se = "button")
  .{$se}
    button-basic()


/// Includes all the styles.

@require "styles/*"    
